<header>
    <div class="menu-button" (click)="menuButtonCLicked()">
        <i class="bi bi-list"></i>
    </div>

    <div class="brand-name">
        <span>Amanuensis</span>
    </div>

    <div class="btn-group">
        <button class="btn btn-outline-light btn-lg">Login</button>
        <button class="btn btn-outline-light btn-lg">Register</button>
        <button class="btn btn-outline-light btn-lg">Profile</button>
        <button class="btn btn-outline-light btn-lg">Log Out</button>
    </div>
</header>